<!DOCTYPE html>
<!--A FastAPI based monitoring WebApp-->
<html>
    <head>

        <title>
            Monitoring Demo
        </title>

        <link href="{{ url_for('static', path='/css/home.css') }}" rel="stylesheet"/>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static' , path='/images/logo.png') }}"/>

        <!--Getting the plotly JS library-->
        <script src="{{ url_for('static', path='/js/ploty-latest-min.js') }}" type="text/javascript"></script>

    </head>

    <body>

        <div id="chart"></div>

        <p id="fmemper"></p>
        <p id="cpuusagetext">CPU Usage :</p>
        <p id="cpuusageval"></p>
        <p id="wrspeedgetext">Write Speed :</p>
        <p id="wrspeedval"></p>
        <p id="respeedgetext">Read Speed :</p>
        <p id="respeedval"></p>
        
        <script>

          var response; 
          var fmem_per = document.getElementById("fmemper");

          //This function gets the percentage free RAM from the server
          function GetFreeRamPer(){
              
              var xhr = new XMLHttpRequest;
              var queryString = "http://<IP>/cgi-bin/getfreemem.py";
              xhr.open("GET", queryString, true);
              xhr.send();
              
              xhr.onload = function(){
                  response = parseFloat(xhr.responseText);
                  fmem_per.innerHTML = response.toFixed(2).toString() + "%";
              }
              
              return response;
           }
          
          //This variable is used to configure the axes
          var layout = {

              width: 600,
              height: 600,
              yaxis:{
                  title: "% Free RAM",
                  range: [0, 100]
              },
              xaxis:{
              }
           };
          
          //Here plotting starts 
          Plotly.plot("chart", [{
              y: [GetFreeRamPer()],
              type: "line",
          }], layout);
          
          var cnt = 0;
          var points_to_relay = 40;
          var intervalTime = 100;

          setInterval(function(){

              Plotly.extendTraces("chart", { y: [[GetFreeRamPer()]] }, [0]);
              cnt++;

              if(cnt > points_to_relay){

                  Plotly.relayout("chart", {
                      
                      xaxis: {
                          range: [cnt-points_to_relay, cnt]
                      }
                  });
              }

          }, intervalTime);

          
        </script>
        <script src="{{ url_for('static', path='/js/other.js') }}" type="text/javascript"></script>
        
    </body>

</html>